/* Estilo para imagens clicáveis */
img.img-thumbnail {
    transition: transform 0.2s;
  }
  
  img.img-thumbnail:hover {
    transform: scale(1.05);
  }
  
  /* Assegura que a imagem de prévia no formulário indique que é clicável */
  #previewImagem:not(.d-none) {
    cursor: pointer;
    border: 2px solid #ccc;
  }
  
  #previewImagem:not(.d-none):hover {
    border-color: #007bff;
  }

  .tooltip-inner {
    max-width: 300px !important;
    white-space: pre-wrap !important;
    text-align: left !important;
}

.observacoes-cell:hover {
    text-decoration: underline;
    color: #007bff;
}

.pagination-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.pagination-controls button {
  padding: 8px 16px;
  border: 1px solid #ddd;
  background-color: #f8f9fa;
  cursor: pointer;
  border-radius: 4px;
}

.pagination-controls button:hover:not([disabled]) {
  background-color: #e9ecef;
}

.pagination-controls button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#page-info {
  font-size: 14px;
}

.limited-textarea {
  resize: vertical; /* Permite redimensionar apenas verticalmente */
  max-height: 300px; /* Limite máximo de altura */
  min-height: 100px; /* Altura mínima */
  max-width: 100%; /* Limite máximo de largura (100% do contêiner) */
  min-width: 200px; /* Largura mínima */
  overflow-y: auto; /* Adiciona barra de rolagem vertical se o texto exceder */
}